*{
	padding: 0;
	margin: 0;
}

h1{
	color: 985625;
	font-family: 'Playfair Display', serif;
	font-size: 80px;
}

h2{
	color: brown;
	font-family: 'IM Fell Great Primer SC', serif;
	text-align: left;
}

h3{
	color: black;
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 30px;
}

p{
	color: pink;
}
.home{
	background: linear-gradient(
			rgba(2, 0, 36, 0.5),
			rgba(121, 154, 121, 0.45)),url(../images/1.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 50px;
}
.title:hover{
	transition: .5s
}

.btn{
	background-color: cyan;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
}
.btn:hover{
	background-color: black;
	transition: 1s;
}

.second-div{
	background: url(../images/2.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.quotes{
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 30px;
	font-weight: 800;
	text
	width: 50%;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	text-align: left;
}
.third-div > img{
	height: 200px;
	width: 500px;
	border-radius: 60%;


}
.quotes2{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	font-weight: 400;
	width: 30%;
	margin: 3 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: red;
	font-style: italic;
}

.fourth-div{
	background:
		url(../images/4.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list{
	list-style-type: none;
	text-shadow: 1px 1px 15px black;
	color:  red;
}

.fifth-div{
background: url(../images/5.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.fifth-div > img{
	height: 150px;
	width: 150px;

}

.images {
	height: 50vh;
	background-color: bisque;
	background: url(../images/5.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.fifth-div > img:hover {
	transform: scale(2);
	transition: 2s;
}

.contact-us {
	height: 100vh;
	background: url(../images/10.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
	width: 50%;
	align-items: center;
	font-family: 'Noto Sans JP', sans-serif
}

.form, .message {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input	{
	display: block;
	width: 100%;
	font-size: 20px;
	margin: 5px 0;
}

.message {
	margin: 0 100px;
}

.message > p {
	margin: 0 100px;
	text-align: center;
	color: green;
	font-weight: 800;
}

.btn-contact {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif
}
